:root {
    font-size: rem;
}

header{
    display: block;
    padding: none;
    background-color: rgb(108, 45, 167);
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

h2{
    text-align: center;
    font-family: Arial;
    font-weight: bolder;
}

p{  
    text-align: justify;
    padding: 0 20%;
    font-size: 20px;
    font-weight: bold;
}

div{
    height: 400px;
    text-align: center;
    background-image: url("imagem/setas.jpg");
    background-size: contain;
    background-repeat:no-repeat;
}
img {
    border-radius: 100%;
    width: 12rem;
    height: 12rem;
}

ul{
    padding-left: 45%;
}

ol{
    padding-left: 45%;
}

li{
    font-family: fantasy;
    font-size: 20px;
}

footer{
    background-color: #524848;
    text-align: center;
    font-family: arial;
}

a{
    position: relative;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 10px;
}

a:hover{
    text-shadow: 1px 1px black;
}

form{
    position:relative;
    display: block;
    padding-left: 38%;
    padding-bottom: 20px;
    background-color: chocolate;
}

input,textarea{
    display: block;
    width: 300px;
    margin-right: 20%;
}

.inicio {
    position: absolute;
}
